.container {
  width: 80vw;
  margin: 50px auto;

  .headingSection {
    .copyButton {
      float: right;
      .shareButton {
        font-size: 22px;
        font-weight: 600;
        margin-top: 10px;
      }

      .copied {
        color: green;
        font-size: 22px;
        font-weight: 600;
        margin-top: 10px;
      }
    }
  }
}