.card {
  cursor: 'pointer';

  .ellipsis() {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .date {
    .ellipsis();
    font-size: 14px;
    font-weight: bold;
    color: #F34949;
    padding-bottom: 10px;
  }

  .title {
    .ellipsis();
  }

  .coverImage {
    height: 160px !important;
  }

}